/* Null style */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*----------------------------*/
/* main {
  height: 100%;
  z-index-0;
} */
/* header {
  z-index: 1;
  box-shadow: 10px 5px 5px #555;
  border: 2px solid rgb(135, 105, 145);
} */
.container {
  background-color: rgb(255, 244, 228);
  max-width: 1000px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu__item {
  display: block;
  /* додати вирівнювання по центру блоку і вертикальне(для картинок) */
  height: 24px;
  margin: 10px;
}

/* текстові блоки меню ====================================== */
.menu__item_text {
  display: block;
  height: 24px;
  border: 2px solid transparent;
  border-radius: 3px;
  color: #555;
  padding: 2px;
}
.menu__item_text:focus {
  border-color: rgb(135, 105, 145);
}
.menu__item_text:hover {
  border-color: rgb(196, 180, 201);
}
/* блоки меню з картинками - дзвінок і юзер====================================== */
.menu__item_picture {
  display: block;
  height: 24px;
  width: 24px;
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 2px;
}
.menu__item_picture:focus {
  border-color: rgb(135, 105, 145);
}
.menu__item_picture:hover {
  border-color: rgb(196, 180, 201);
}
.menu__item_picture_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* <popUp button check> ==============================================*/
.menu__item_popUp {
  position: relative;
  width: 24px;
}
.menu__item_label {
  position: absolute;
  /* margin: -2px; */
  height: 24px;
  width: 24px;
  border: 2px solid transparent;
  border-radius: 3px;
  background: url("../img/popup-button.png") 50% 50%/75% auto no-repeat;
}
/* ховаємо чексбокс */
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.menu__item_check_input {
  position: absolute;
}
.menu__item_check_box {
  /* position: absolute;
  height: 24px;
  width: 24px;
  border: 2px solid transparent;
  border-radius: 3px;
  background: url("../img/popup-button.png") 50% 50%/75% auto no-repeat; */
}
.menu__item_check_input:focus ~ .menu__item_label {
  border-color: rgb(135, 105, 145);
}
.menu__item_check_input:hover ~ .menu__item_label {
  border-color: rgb(196, 180, 201);
}

.menu__item_check_input:checked ~ .popup__wrapper {
  display: block;
}

/* <popUp items visible>============================================== */
.popup__wrapper {
  display: none;
  /* position: relative; */
  position: absolute;
  right: -90px;
  top: 30px;
  border: 2px solid rgb(135, 105, 145);
  border-radius: 3px;
  background-color: rgb(255, 250, 242);
  width: 300px;
  /* height: 330px; */
  padding: 3px;
  overflow: hidden;
}
.popup__container {
  height: 320px;
  overflow: auto;
}
.popup__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.popup__item {
  /* border: 2px solid rgb(135, 105, 145);
  border-radius: 3px; */
  /* margin: 2px; */
  /* padding: 7px; */
  min-width: 33%;
  /* max-height: 20%; */
}

.checkbox {
  grid-column: 1 / 4;
  /* grid-row: 4/5; */
  width: 90%;
  justify-self: center;
  /* background-color: rgb(150, 194, 194); */
}
/* ============================================================================================ */
/* .checkbox__input:checked ~ .popup__items {
  background-color: rgb(155, 122, 70);
} */
.checkbox_label {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 2px;
  background-color: rgb(253, 228, 186);
  border-radius: 3px;
  width: 100%;
  border: 2px solid transparent;
}
.checkbox__more {
  display: block;
  color: #555;
}
.checkbox__input:hover ~ .checkbox_label {
  border-color: rgb(196, 180, 201);
}
.checkbox__input:focus ~ .checkbox_label {
  border-color: rgb(135, 105, 145);
}
.popup__link {
  border: 2px solid transparent;
  border-radius: 3px;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.popup__link:hover {
  border-color: rgb(196, 180, 201);
}
.popup__link:focus {
  border-color: rgb(135, 105, 145);
}
/* оформлення елементу - кртинка/текст */
.popup__item_only-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 5px 17px 5px 17px;
  height: 33px;
  width: 46px;
  overflow: hidden;
}
.popup__item_image {
  width: 85%;
  margin: auto;
  object-fit: cover;
}
.popup__item_name {
  color: #555;
  margin-bottom: 5px;
}
/* </popUp items visible>============================================== */
